{% extends "layout.html" %}

{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your Blogs</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1>Basic Actions</h1>
                    <a href="/dashboard"><button class="btn btn-primary text-uppercase">Dashboard Home</button></a>
                    <a href="/logout"><button class="btn btn-primary text-uppercase">Logout</button></a>
                    <hr>
                    <h1>Add/Edit Blogs</h1>
                    <hr>
                    <h5>Upload the title image of your Blog first, then proceed further</h5>
                    <form action="/uploader" method="post" enctype="multipart/form-data">
                        <input type="file" name="file1">
                        <button class="btn btn-primary text-uppercase" type="submit" >Submit</button>
                    </form>
                    <hr>
                    <form id="contactForm" action="/edit/{{sno}}" method="post" data-sb-form-api-token="API_TOKEN">
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Enter your Title..." value="{{post.title}}" data-sb-validations="required" />
                            <label for="title">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" id="subheading" name="subheading" type="text" placeholder="Enter your Subheading..." value="{{post.subheading}}"/>
                            <label for="subheading">Subheading</label>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" id="owner" name="owner" type="text" placeholder="Posted by..." value="{{post.owner}}" data-sb-validations="required"/>
                            <label for="owner">Posted by</label>
                            <div class="invalid-feedback" data-sb-feedback="owner:required">Blog writer's name is required.</div>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" id="slug" name="slug" type="text" placeholder="Enter Slug here..." value="{{post.slug}}" data-sb-validations="required" />
                            <label for="slug">Slug: Format: {your post name without spaces and underscores} </label>
                            <div class="invalid-feedback" data-sb-feedback="slug:required">Slug is required.</div>
                        </div>

                        <div class="form-floating">
                            <textarea class="form-control" id="content" name="content" placeholder="Enter your blog's content here..." style="height: 40rem" data-sb-validations="required">{{post.content}}</textarea>
                            <label for="content">Content</label>
                            <div class="invalid-feedback" data-sb-feedback="content:required">Content is required.</div>
                        </div>

                        <div class="form-floating">
                            <input class="form-control" id="img_file" name="img_file" type="text" placeholder="Enter your image file here..." value="{{post.img_file}}" data-sb-validations="required" />
                            <label for="img_file">Image File you Uploaded (in .jpg, .png, etc.)</label>
                            <div class="invalid-feedback" data-sb-feedback="img_file:required">Image File is required.</div>
                        </div>
                        
                        <br />
                        <!-- Submit Button-->
                        <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
                    </form>
                    
                </div>
            </div>
        </div>

{% endblock %}